<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mumbai</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
{% load static %}<div style="color:green"><img class="card-img-top"  src="{% static 'mysite/images/images (3).jpg' %}" alt="Card image cap" width="100%" height="500px"></div>
<p><h3>About</h3><br>Prime Minister Narendra Modi has created ripples in Hyderabad yesterday when he
referred to Telangana capital as Bhagyanagar during his address to the delegates from across the
country. During Bharatiya Janata party’s national executive meeting here, PM Modi said that it was
in Bhagyanagar that Sardar Patel, the freedom fighter icon, had coined the term “Ek Bharat”. Speaking to
reporters after the PM’s address, BJP leader Ravi Shankar Prasad said,” PM Modi said that Hyderabad is
Bhagyanagar which is a significance for all of us. Sardar Patel kept the foundation of a unified
India and now it’s BJP’s responsibility to carry it further.” On being asked if Hyderabad’s name
will be changed to Bhagyanagar, Union Minister Piyush Goyal said, “When the BJP comes into power in the state,
the chief minister will decide this along with the cabinet colleagues</p>
 <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Toyota Etios</h5>
          <div class="row">
          <div class="col-4">
         <img  src="{% static 'mysite/images/CiazWEBPAGE.png' %}"  class="card-img-top" alt="...">
        </div>
        <div class="col-4">
          <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
          </div>
          <div class="col-4">
          <p class="card-text">unlock 10000 upto 57000km</p>
          </div>
          <a href="/reservation.html" class="btn btn-primary">select</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
         <img  src="{% static 'mysite/images/RevvSANTRO.png' %}"  class="card-img-top" alt="...">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
        </div>
        <div class="col-4">
        <p class="card-text">unlock 5000 upto 37000km</p>
        </div>
         <a href="/reservation.html" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
         <img  src="{% static 'mysite/images/swift.png' %}"  class="card-img-top" alt="...">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
        </div>
        <div class="col-4">
        <p class="card-text">unlock 5000 upto 37000km</p>
        </div>
        <a href="/reservation.html" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
      <br>
    <div style="background-color:yellow">
    <div class="container" >
        <div class="row">
          <div class="col-4">
          <a href="#"><p>List your Rental</p><br></a>
          <a href="#"><p>Sitemap</p><br></a>
          <a href="#"><p>Accessibility</p><br></a>
          <a href="#"><p>Careers</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>About us</p><br></a>
            <a href="#"><p>Contact</p><br></a>
            <a href="#"><p>My.TraditionalRentals</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>Terms of Services</p><br></a>
            <a href="#"><p>Privary policy</p><br></a>
            <a href="#"><p>Avoid Scams & Fraud/p><br></p>
                <a href="#"> <p>Notice  of Collection</p><br></a>
                <a href="#"> <p>Do Not Sell My Personal information</p></a>
         </div>
        </div>
        </div>
   </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>