<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mumbai</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
{% load static %}<div style="color:green"><img class="card-img-top"  src="{% static 'mysite/images/images (2).jpg' %}" alt="Card image cap" width="100%" height="500px"></div>
<p><h3>About</h3><br>The Taj Mahal Palace opened in Mumbai, then Bombay, in 1903, giving birth to the country’s first harbour landmark. The recently trademarked flagship hotel overlooks the majestic Gateway of India. This legendary hotel in Mumbai has played host to kings, dignitaries and eminent personalities from across the globe, and is acknowledged as a world leader in hospitality. Each of
    the rooms 285 rooms & suites are a striking blend of nostalgic elegance, rich history and modern facilities. Strategically located in Mumbai’s prime historical and commercial hub, The Taj Mahal Palace is walking distance from Colaba Causeway, known for its touristy tiny roadside shops. The city’s financial hub, parliament, stadium, offices and shopping districts are all
    located within close proximity; as is a flourishing art and heritage precinct with must visit museums, art galleries, churches and synagogues. The airports are an hour away. For those who would like to experience fine dining in style, we host 9 of the city’s most acclaimed restaurants and bars, renowned for delectable cuisines from India, Europe, the Middle East and the
    Orient. Relish authentic Indian cuisine at Masala Kraft; world famous Japanese dishes at Wasabi by Morimoto;
    exquisite Eastern Mediterranean food at Souk and Chinese at Golden Dragon. Dine all day at Shamiana and choose from the exotic range of sumptuous desserts at La Patisserie. Unwind with a refreshing meal at Aquarius, the poolside restaurant in Mumbai; and visit the stylish Harbour Bar. Signature experiences such as the afternoon tea at Sea Lounge and private dining at
    the Chef’s Studio make your stay with us truly memorable. Mumbai’s original luxury hotel has 11 newly refurbished halls and venues, ideal for occasions ranging from formal meetings to elaborate weddings. The Ballroom, spacious enough for 450 guests, is perfect for conferences and grand private events. You could opt for a private dinner or yacht party if you are looking to entertain in true style. Our globally acclaimed Golden Keys Concierge would
be happy to help, and caters to all your requirements in the city. Come, experience the legend.</p>
 <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Toyota Etios</h5>
          <div class="row">
          <div class="col-4">
         <img  src="{% static 'mysite/images/CiazWEBPAGE.png' %}"  class="card-img-top" alt="...">
        </div>
        <div class="col-4">
          <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
          </div>
          <div class="col-4">
          <p class="card-text">unlock 10000 upto 57000km</p>
          </div>
          <a href="/reservation.html" class="btn btn-primary">select</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
         <img  src="{% static 'mysite/images/RevvSANTRO.png' %}"  class="card-img-top" alt="...">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
        </div>
        <div class="col-4">
        <p class="card-text">unlock 5000 upto 37000km</p>
        </div>
         <a href="/reservation.html" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
         <img  src="{% static 'mysite/images/swift.png' %}"  class="card-img-top" alt="...">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
        </div>
        <div class="col-4">
        <p class="card-text">unlock 5000 upto 37000km</p>
        </div>
        <a href="/reservation.html" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
      <br>
    <div style="background-color:yellow">
    <div class="container" >
        <div class="row">
          <div class="col-4">
          <a href="#"><p>List your Rental</p><br></a>
          <a href="#"><p>Sitemap</p><br></a>
          <a href="#"><p>Accessibility</p><br></a>
          <a href="#"><p>Careers</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>About us</p><br></a>
            <a href="#"><p>Contact</p><br></a>
            <a href="#"><p>My.TraditionalRentals</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>Terms of Services</p><br></a>
            <a href="#"><p>Privary policy</p><br></a>
            <a href="#"><p>Avoid Scams & Fraud/p><br></p>
                <a href="#"> <p>Notice  of Collection</p><br></a>
                <a href="#"> <p>Do Not Sell My Personal information</p></a>
         </div>
        </div>
        </div>
   </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>