<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" >
        <link href="justify-content-center.css" rel="stylesheet">
    </head>
    </head>
    <body  style="background: #ffff;">
    <div  class="" style="background:greenyellow">
    <div class="" style="margin-left:40%;">
    <form class="justify-content-center" style="width:50%;" action="payment/">
        <p style="font-size: 200%;">Car reservation form</p>
    <div class="form-group">
        <label for="Name">Name</label><br>
        <input class="form-control" type="text" placeholder="Name"><br>
      </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label><br>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
      </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">aadhar card</label><br>
      <input type="file" class="form-control-file" id="exampleFormControlFile1"><br>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">driving Licence</label><br>
        <input type="file" class="form-control-file" id="exampleFormControlFile1"><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Age</label><br>
        <input class="form-control" type="text" placeholder="ex 23"><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Phone Number</label><br>
        <input class="form-control" type="text" placeholder="000-0000-00000"><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Address1</label><br>
        <input class="form-control" type="text" placeholder=""><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Address2</label><br>
        <input class="form-control" type="text" placeholder=""><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">pick up data</label><br>
        <input class="form-control" type="date" placeholder=""><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Drop out dater</label><br>
        <input class="form-control" type="date" placeholder=""><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Pick-up Location</label><br>
        <input class="form-control" type="text" placeholder=""><br>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Drop off Location</label><br>
        <input class="form-control" type="text" placeholder=""><br>
      </div>
      <div class="form-group">
        <input class="form-control" type="submit" placeholder="" style="color: blue;"><br>
      </div>
  </form>
  </div>
  </div>
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" ></script>
  </html>