<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head><title></title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/custom.css" rel="stylesheet">
</head>
<body>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="home.html"><button type="button" class="btn btn-outline-primary" style="margin:auto;" >logout</button></a>
   <br><br>
    <div class="input-group" style="width:70%">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <form class="form-inline my-2 my-lg-0" action="">
          {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
    </form>
    </div><br>
    <div class="row">
    <div class="col">
<img class="js-img-protect container-absolute to-all opacity-zero" height="500" width="1530" src="https://t3.ftcdn.net/jpg/02/17/81/76/240_F_217817698_LKbuilC9nXitn0Q0gdgkymsLehvVHulT.jpg" alt="Visakhapatnam India City Skyline with Color Buildings and Blue Sky." style="user-select: auto;">    </div>
</div>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Toyota Etios</h5>
          <div class="row">
          <div class="col-4">
             <img class="car-img" src="https://s3-us-west-2.amazonaws.com/revvselfdrivecar/carImages/white_images/swift.png" alt="Maruti Swift, Self Drive Car - Revv" width="300" height="250" style="user-select: auto;">
        </div>
        <div class="col-4">
          <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
          </div>
          <div class="col-4">
          <p class="card-text"><a href="">show price</a></p>
          </div>
          <a href="/reservation.html" class="btn btn-primary">select</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
          <img class="car-img" src="https://s3-us-west-2.amazonaws.com/revvselfdrivecar/carImages/white_images/celerio.png" alt="Maruti Celerio, Self Drive Car - Revv" width="300" height="250" style="user-select: auto;">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State T
          ax & GST <br>Top Rated Cabs & Chauffeurs</p>
          </div>
          <div class="col-4">
          <p class="card-text"><a href="">show price</a></p>
          </div>
          <a href="/reservation.html" class="btn btn-primary">select</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Ertiga</h5>
        <div class="row">
        <div class="col-4">
          <img class="car-img" src="https://s3-us-west-2.amazonaws.com/revvselfdrivecar/carImages/white_images/celerio.png" alt="Maruti Celerio, Self Drive Car - Revv" width="300" height="250" style="user-select: auto;">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
        </div>
        <div class="col-4">
        <p class="card-text"><a href="">show price</a></p>
        </div>
        <a href="#" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
      <br>
      <div class="card-body">
        <h5 class="card-title">Toyota Innova Crysta</h5>
        <div class="row">
        <div class="col-4">
          <img src="https://s3-us-west-2.amazonaws.com/revvselfdrivecar/carImages/thumb/Creta.png" alt="Hyundai Creta, Self Drive Car - Revv" class="car-img" width="300" height="250" style="user-select: auto;">
      </div>
      <div class="col-4">
        <p class="card-text">Includes Toll, State Tax & GST <br>Top Rated Cabs & Chauffeurs</p>
</div>
        <div class="col-4">
        <p class="card-text"><a href="">show price</a></p>
        </div>
        <a href="/reservation.html" class="btn btn-primary">select</a>
        </div>
      </div>
    </div>
    <br>
    <p class="text-center">pre <a href="/home2"><</a> &nbsp <a href="/home1"> ></a> Next</p>
    <br>
    <div style="background-color:navy">
    <div class="container" >
        <div class="row">
          <div class="col-4">
          <a href="#"><p>List your Rental</p><br></a>
          <a href="#"><p>Sitemap</p><br></a>
          <a href="#"><p>Accessibility</p><br></a>
          <a href="#"><p>Careers</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>About us</p><br></a>
            <a href="#"><p>Contact</p><br></a>
            <a href="#"><p>My.TraditionalRentals</p><br></a>
        </div>
        <div class="col-4">
            <a href="#"><p>Terms of Services</p><br></a>
            <a href="#"><p>Privary policy</p><br></a>
            <a href="#"><p>Avoid Scams & Fraud/p><br></p></a>
                <a href="#"> <p>Notice  of Collection</p><br></a>
                <a href="#"> <p>Do Not Sell My Personal information</p></a>

        </div>
        </div>
        </div>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
</body>
</html>